name: Checkly Deployment

on:
  workflow_call:
    inputs:
        private-location-name:
            type: string
            description: "Name of the Checkly private location"
            required: true
        api-key:
            type: string
            description: "Checkly API key"
            required: true
        account-id:
            type: string
            description: "Checkly API key / account id"
            required: true
        config-path:
            type: string
            description: "Path to the Checkly configuration file"
            default: "checkly.config.ts"
            required: false
        main-branch-name:
            type: string
            description: "Name of the main branch"
            default: "refs/heads/main"
            required: false

jobs:
  main:
    runs-on: [idp]
    permissions:
      contents: read

    steps:
    - uses: actions/setup-node@v6
      with:
        node-version: 24.x

    - uses: actions/checkout@v6

    - name: Test Checks
      shell: pwsh
      run: |
        npm i --save-dev checkly ts-node typescript

        echo 'Fetching environment variables...'
        npx checkly env pull env.prod

        echo 'Running Checkly tests...'
        npx checkly test --verbose --record --reporter ci --private-location ${{ inputs.private-location-name }} --config="${{ github.workspace }}/${{ inputs.config-path }}" --env-file ./env.prod

        echo 'Previewing the changes...'
        npx checkly deploy --preview --config="${{ github.workspace }}/${{ inputs.config-path }}"
      env:
        CHECKLY_API_KEY: ${{ inputs.api-key }}
        CHECKLY_ACCOUNT_ID: ${{ inputs.account-id }}
        CHECKLY_REPO_BRANCH: ${{ github.ref }}

    - name: Deploy to Checkly
      if: ${{ success() && github.ref == inputs.main-branch-name }}
      shell: pwsh
      run: |
        npx checkly deploy --force --config="${{ github.workspace }}/${{ inputs.config-path }}"
      env:
        CHECKLY_API_KEY: ${{ inputs.api-key }}
        CHECKLY_ACCOUNT_ID: ${{ inputs.account-id }}
        CHECKLY_REPO_BRANCH: ${{ github.ref }}