name: 'LinearB Deployment'

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      github_environment:
        required: false
        type: string
        default: 'ci'
      cortexEntityIdOrTag:
        required: false
        type: string
        default: ''

jobs:
  get_azure_config:
    runs-on: [idp]
    permissions:
      id-token: write
    outputs:
      client_id: ${{ steps.get_azure_config.outputs.client_id }}
      tenant_id: ${{ steps.get_azure_config.outputs.tenant_id }}
    steps:
    - id: get_azure_config
      env:
        INFRA_CONFIG: ${{ vars.INFRA_CONFIG }}
        AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      shell: pwsh
      run: |
        if ($env:AZURE_CLIENT_ID) {
            $ClientId = $env:AZURE_CLIENT_ID
        } elseif ($env:INFRA_CONFIG) {
            $ClientId = (ConvertFrom-Json $env:INFRA_CONFIG).repo_identity_client_id
        } else {
            Write-Error "Neither AZURE_CLIENT_ID nor INFRA_CONFIG is set. Cannot determine client id."
            exit 1
        }
        echo "client_id=$ClientId"
        "client_id=$ClientId" >> $env:GITHUB_OUTPUT

        if ($env:AZURE_TENANT_ID) {
            $TenantId = $env:AZURE_TENANT_ID
        } elseif ($env:INFRA_CONFIG) {
            $TenantId = (ConvertFrom-Json $env:INFRA_CONFIG).tenant_id
        } else {
            Write-Error "Neither AZURE_TENANT_ID nor INFRA_CONFIG is set. Cannot determine tenant id."
            exit 1
        }
        echo "tenant_id=$TenantId"
        "tenant_id=$TenantId" >> $env:GITHUB_OUTPUT

  linearb_deployment:
    runs-on: [idp]
    needs: get_azure_config
    environment: ${{ inputs.github_environment }}
    permissions:
      id-token: write
    steps:
    - name: Get LinearBApiKey secret
      id: get_linearb_secret
      uses: workleap/wl-reusable-workflows/retrieve-managed-secret@main
      with:
        azure-client-id: ${{ needs.get_azure_config.outputs.client_id }}
        azure-tenant-id: ${{ needs.get_azure_config.outputs.tenant_id }}
        azure-subscription-id: ${{ vars.WORKLEAP_GLOBAL_KEYVAULT_SUBSCRIPTION_ID }}
        keyvault-name: ${{ vars.WORKLEAP_GLOBAL_KEYVAULT_NAME }}
        secret-name: "LinearBApiKey"

    - name: 'Report LinearB Deployment'
      shell: pwsh
      run: |
        Write-Host "$(Get-Date -Format "hh:mm:ss")" 'STARTING LinearB Deployment'
        $datetime = Get-Date -Format 'yyyy-MM-ddTHH:mm:ssZ'
        $stage = "${{ inputs.environment }}".ToLowerInvariant()
        $RepositoryUrl = "${{ github.repositoryUrl }}"  -replace "^git://", "https://"
        $data = @"
        {
          "repo_url": "$RepositoryUrl",
          "ref_name": "${{github.sha}}",
          "timestamp": "$datetime",
          "stage": "$stage"
        }
        "@

        Write-Host "data ###########################################################"
        Write-Host $data

        Write-Host "Web Request ###########################################################"
        $response = Invoke-WebRequest "https://public-api.linearb.io/api/v1/deployments" -Headers @{"x-api-key"= "${{ steps.get_linearb_secret.outputs.secret }}"} -ContentType "application/json" -Body "$data" -Method Post

        Write-Host "response ##################################################"
        Write-Host $response

  cortex_deployment:
    runs-on: [idp]
    needs: get_azure_config
    if: ${{ inputs.cortexEntityIdOrTag != '' }}
    environment: ${{ inputs.github_environment }}
    permissions:
      id-token: write
    steps:
    - name: Get CortexApiKey secret
      id: get_cortex_secret
      uses: workleap/wl-reusable-workflows/retrieve-managed-secret@main
      with:
        azure-client-id: ${{ needs.get_azure_config.outputs.client_id }}
        azure-tenant-id: ${{ needs.get_azure_config.outputs.tenant_id }}
        azure-subscription-id: ${{ vars.WORKLEAP_GLOBAL_KEYVAULT_SUBSCRIPTION_ID }}
        keyvault-name: ${{ vars.WORKLEAP_GLOBAL_KEYVAULT_NAME }}
        secret-name: "CortexApiKey"

    - name: 'Report Cortex Deployment'
      shell: pwsh
      run: |
        # https://docs.cortex.io/api/rest/deploys#post-api-v1-catalog-tagorid-deploys
        $stage = "${{ inputs.environment }}".ToLowerInvariant()
        $headers = @{
            Authorization = "Bearer ${{ steps.get_cortex_secret.outputs.secret }}"
            "Content-Type" = "application/json"
        }
        $data = @{
          "customData" = @{
            "repositoryUrl" = "${{ github.repositoryUrl }}"
          }
          "environment" = $stage
          "sha" = "${{ github.sha }}"
          "timestamp" = Get-Date
          "title" = "Deploy to $stage"
          "type" = "DEPLOY"
        } | ConvertTo-Json

        Write-Host "data ###########################################################"
        Write-Host $data

        Write-Host "Web Request ###########################################################"
        $response = Invoke-RestMethod -Uri "https://api.getcortexapp.com/api/v1/catalog/${{ inputs.cortexEntityIdOrTag }}/deploys" -Method Post -Headers $headers -Body $data

        Write-Host "response ##################################################"
        Write-Host $response

