name: Publish

on:
  push:
    branches:
      - main

jobs:
  linearb:
    uses: ./.github/workflows/linearb-deployment.yml
    with:
      environment: "release"
    permissions:
      id-token: write
      contents: read

