name: Renovate

on:
  # Temporarily enable manual workflow trigger for testing
  workflow_dispatch: {}
  pull_request:
    paths:
      - .github/workflows/renovate.yml
      - .github/workflows/reusable-renovate-workflow.yml
  schedule:
    - cron: "5 2 * * *"

jobs:
  renovate:
    uses: ./.github/workflows/reusable-renovate-workflow.yml
    permissions:
      id-token: write
      contents: read
    with:
      workflow_name: "Renovate"
      config_file: "renovate.cli.json"
      log_file: "renovate.log"
