name: Create Git Tag

on:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      buildVersion:
        description: 'Build version to use for the tag'
        required: true
        type: string

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.merge_commit_sha }}
        fetch-depth: '0'

    - name: Set git author
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@v1.71.0
      env:
        DEFAULT_BUMP: patch
        INITIAL_VERSION: 1.0.0
        WITH_V: false
        PRERELEASE: false
