name: Terraform Linter Check
on: workflow_call

jobs:
  tflint:
    name: Terraform lint
    runs-on: [idp]
    steps:
      - name: Authenticate with GitHub App
        id: auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TERRAFORM_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.TERRAFORM_AUTOMATION_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        name: Checkout source code
        with:
          token: ${{ steps.auth.outputs.token }}
          
      - uses: terraform-linters/tflint-load-config-action@5b0f6d9b68043d15c83a05d7a6dc831da411b5dd # v2.0.0
        with:
          source-repo: workleap/wl-reusable-workflows
          source-path: /tflint/.tflint.hcl
          source-ref: main
          token: ${{ steps.auth.outputs.token }}
          
      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        name: Setup TFLint
        
      - name: Show version
        run: tflint --version
        
      - name: Init TFLint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ steps.auth.outputs.token }}
          
      - name: Run TFLint
        run: tflint -f compact